<div class="col-md-10 col-md-offset-1">
  <h3>新着日報</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th width="120">日付</th>
      <th>ユーザー</th>
      <th>タイトル</th>
      <th width="120">コメント数</th>
    </tr>
    </thead>
    <tbody>
    <%= render @reports %>
    </tbody>
  </table>
  <%= will_paginate @reports %>
</div>

