<% provide(:title, "ユーザー一覧") %>
<h1>ユーザー一覧</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
      <%= link_to user.name, user %>
      <% if current_user.admin? %>
          | <%= link_to "edit", edit_user_path(user) %>
          | <%= link_to "delete", user, method: :delete,
                        data: { confirm: "本当に削除しますか？" } %>
      <% end %>
      <br>
  <% end %>
</ul>