<% @comments.each do |comment| %>
    <tr>
      <td width="120"><%= comment.user.name %></td>
      <td><%= simple_format(h(comment.content)) %></td>
      <td width="150"><%= time_ago_in_words(comment.created_at) + t('datetime.ago') %></td>
      <% if current_user?(comment.user) %>
          <td width="50"><%= link_to t('link_text.delete'), [@report, comment], method: :delete,
                                     data: { confirm: t('confirm.delete'), remote: true } %></td>
      <% else %>
          <td width="50"></td>
      <% end %>
    </tr>
<% end %>
