<% if object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= t('flash.errors.form') %>
      </div>
      <ul>
        <% object.errors.messages.each do |key, msg_arr| %>
            <% msg_arr.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>
