<li id="report-<%= report.id %>">
  <span class="date"><%= report.date %></span>
   |
  <span class="name">
    <%= link_to report.user.name, user_path(report) %>
  </span>
   |
  <span class="title">
    <%= link_to report.title, report_path(report) %>
  </span>
</li>